@{
    Layout = "~/Views/Shared/LayoutAdmin.cshtml";
    ViewBag.Title = "Home Page";
    //if(Session["U_ID"] == null)
    //{
    //    Response.Redirect("~/Login/Login");
    //}
}

<!-- Content Header (Page header) -->
<h3>Người Dùng : @Session["U_USERNAME"]</h3>
<a href="@Url.Action("LogOut","Login")">LogOut</a>

<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                @*<h1 class="m-0">Asset Mangagement</h1>*@
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    @*<li class="breadcrumb-item active">Bảng điều khiển</li>*@
                </ol>
            </div>
        </div>
    </div>
</div>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="d-flex justify-content-center" style="align-items: center">
                    <img src="~/Content/Admin/img/bg.png">
                </div>               
            </div>           
        </div>
    </div>
</section>

